<h1>Channels</h1>
<hr>
<div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
  <div class="well favs">
    <h4>Most Popular</h4>
    <% newArray.forEach(function(result, index){ %>
      <div class="row">
        <div class="pop-channel col-md-12 col-lg-12">
          <a href="/popular/<%= result.name %>">  <%= index + 1 %>.  <%= result.name %></a>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<div class="col-sm-7 col-md-7 col-lg-7">

  <% channels.forEach(function(channel) { %>
    <div class="well">
    <div class="row">
    <div class="col-md-2 col-lg-2">
    <% if (channel.id == currentChannel) { %>
      <h4><span class="label label-info">current</span></h4>
    <% } else { %>
      <a class="btn btn-success btn-md" href="/channels/<%= channel.id %>">Set</a>
    <% } %>
    </div>
    <div class="col-md-6 col-lg-6">

      <h4><%= channel.name %></h4>
    </div>
    <div class="col-md-4 col-lg-4">
      <% if (channel.userId === currentUser.id) { %>
      <a href="channels/<%= channel.id %>/edit"><span class="btn btn-sm btn-primary glyphicon glyphicon-pencil"></span></a>
      <% } %>
    </div>
    </div>
    </div>
  <% }) %>
</div>
