<h1>Channels</h1>

<% if (!currentUser) { %>
  <h4 class="text-center user-message">Please, signup or login if you would like to create your own channels.</h4>
<% } %>

<div class="col-md-4">

  <div class="row">
    <div class="well">
      <h2>Most Viral</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Channel</th>
            <th>reTweet Total*</th>
          </tr>
        </thead>
        <tbody>
          <% viralChannels.forEach(function(channel) { %>
            <tr>
              <td><a href="/channels/<%= channel.channel.id %>"><%= channel.channel.name %></a></td>
              <td><%= channel.retweetTotal %></td>
            </tr>
          <% }) %>

        </tbody>
      </table>
      <p>* reTweet Total based on 50 most recent popular tweets per channel.</p>
    </div>
  </div>

</div>
<div class="col-sm-7 col-md-7 col-lg-7">

  <% channels.forEach(function(channel) { %>
    <div class="well">
    <div class="row">
    <div class="col-md-2 col-lg-2">
      <% if (channel.id == currentChannel) { %>
        <h4><a href="/"><span class="btn btn-info btn-md">Current</span></a></h4>
      <% } else { %>
        <a class="btn btn-success btn-md" href="/channels/<%= channel.id %>">Set</a>
      <% } %>
    </div>
    <div class="col-md-6 col-lg-6">
      <h4><%= channel.name %></h4>
    </div>
    <div class="col-md-4 col-lg-4">
      <% if (channel.userId === currentUser.id) { %>
        <a href="channels/<%= channel.id %>/delete"><span class="btn btn-sm btn-primary glyphicon glyphicon-trash"></span></a>
        <a href="channels/<%= channel.id %>/edit"><span class="btn btn-sm btn-primary glyphicon glyphicon-pencil"></span></a>
      <% } %>
    </div>
    </div>
    </div>
  <% }) %>
</div>
