<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
  <h1>New Channel Setup - <%= thisChannel.name %></h1>
  <hr>
  <form class="form" method="post" action="/channels/<%= thisChannel.id %>/terms">

    <div class="row col-md-12 col-lg-12">
      <div class="input_fields_wrap">
        <div class="input-group">
          <div class="col-md-3 col-lg-3">
            <span><label>Search Term</label><input type="text" required="true" class="form-control" placeholder="Search Term (word, @tag, #tag)" name="term" autofocus></span>
          </div>
          <div class="col-md-7 col-lg-7">
            <span><label>Term's Image Url (optional)</label><input type="text" class="form-control" placeholder="Image URL for search Term" name="image_url"></span>
          </div>
          <div class="col-md-2 pull-right">
            <button type="submit" class="btn btn-primary add-term">Add</button>
          </div>
          </div>
        </div>
  </form>

  <table class="table table-hover display-table">
    <thead>
      <tr>
        <th>Search Term</th>
        <th>Term's Image Url</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% thisChannel.searchterms.forEach(function(term) { %>
        <tr>
          <td><%= term.term %></td>
          <td><%= term.image_url %></td>
          <!-- DH 8/20 13:45 SETUP FOR DELETE ROUTE -->
          <td><a href="/channels/<%= thisChannel.id %>/terms/<%= term.id %>/delete" class="glyphicon glyphicon-trash" id="deleteTerm"></a></td>
        </tr>
      <% }) %>
      </tbody>
  </table>


</div>