<h2>Channel: <%= channel.name %></h2>

  <ul class="search-items">

    <% search_terms.forEach(function(term,idx) { %>
    <div class="col-md-3 col-lg-3 search-item">
      <li>
      <h4><%= term %></h4>
      <div class="termImage img-responsive"><img src="<%= termImageUrls[idx] %>"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          NEGATIVE-TO-POSITIVE GRAPH
        </div>
      </div>
      <div class="row">
        <div class="tweet-num">Mentions: -number- <%= %></div>
      </div>
      </li>
    </div>
    <% }); %>

  </ul>

<script type="text/javascript">
  var search_terms = "<%- search_terms %>";
</script>
