<h2>Channel: <%= channel.name %></h2>

<div class="row">
  <ul class="search-items">
    <% var metrics = channelMetrics %>
    <% channelMetrics.forEach(function(term,idx) { %>

      <div class="col-md-3 col-lg-3 search-item">
        <li>
        <h4><%= term.term %></h4>
        <div class="termImage img-responsive"><img src="<%= term.image_url %>"></div>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th>Re-tweet Total</th>
                <th>Favorite Total</th>
                <th>Sentiment Avg</th>
                <th>Tweet Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= term.retweet_total %></td>
                <td><%= term.favorite_total %></td>
                <td><%= term.sentiment_avg %></td>
                <td><%= term.tweets.length %></td>
              </tr>
            </tbody>
          </table>
        </div>
        </li>
      </div>
    <% }); %>
  </ul>
</div>

<script type="text/javascript">
  var search_terms = "<%- search_terms %>";
</script>


<div class="well">
  channelMetrics:  <%= JSON.stringify(channelMetrics) %>
</div>